Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: utils/format_urls.py
  language: python

fix Error: Dependencies lock file is not found in /home/runner/work/awesome-sveltekit/awesome-sveltekit. Supported file patterns: pnpm-lock.yaml
  .github/workflows/gh-pages.yml
Due: no-http, no-repeated-whitespace

gh-pages.yml set defaults.run.working-directory: site
  .github/workflows/gh-pages.yml
Due: no-http, no-repeated-whitespace

restore cache-dependency-path and set correct build artifact path
  .github/workflows/gh-pages.yml
Due: no-http, no-repeated-whitespace

load site screenshots from raw.githubusercontent.com instead of uploading assets with every build
  site/src/lib/Screenshot.svelte
Due: no-repeated-whitespace

remove netlify
  .github/workflows/gh-pages.yml
  netlify.toml
Due: no-http, no-repeated-whitespace

add <base href={import.meta.env.CI ? `/${name}/` : ``} /> and remove leading slash from internal links
  site/src/app.html
  site/src/lib/PrevNextSite.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: no-repeated-whitespace

fix breaking changes to +error.svelte API
  site/src/routes/+error.svelte
  site/src/routes/[slug]/+page.server.ts
Due: no-repeated-whitespace

add trigger PR to gh-pages.yml
  .github/workflows/gh-pages.yml
Due: no-http, no-repeated-whitespace

link to GH issues from error page if status >=500
  .github/workflows/gh-pages.yml
  readme.md
  site/src/routes/+error.svelte
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

remove <base> href
  site/src/app.css
  site/src/routes/+layout.svelte
Due: no-repeated-whitespace

add https://intl-explorer.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/intl-explorer.small.webp
  site/static/screenshots/intl-explorer.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix broken links for https://janosh.github.io/tikz and https://janosh.github.io/periodic-table
  readme.md
  site/src/sites.yml
  site/static/screenshots/geometric-bayes-theorem.small.webp
  site/static/screenshots/geometric-bayes-theorem.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add DontBore
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

update deps
  site/package.json
  site/pnpm-lock.yaml
  site/tsconfig.json
Due: no-http, no-repeated-whitespace

pre-commit autoupdate (#89)
  .pre-commit-config.yaml
  site/package.json
  site/pnpm-lock.yaml
  site/tsconfig.json
Due: no-http, no-repeated-whitespace

added my sveltekit website
  readme.md
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

added my sveltekit website
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix the issue
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

fix
  site/pnpm-lock.yaml
Due: no-http, no-repeated-whitespace

Create static.yml
  .github/workflows/static.yml
Due: no-http, no-repeated-whitespace

Delete static.yml
  .github/workflows/static.yml
Due: no-http, no-repeated-whitespace

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any file but: \.(js|mjs|cjs)$
  format-urls: any of: ^(sites.yml|readme.md|utils/format_urls.py)$
