Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: avif-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

avif-screenshots:
  name: Screenshots must use AVIF format
  entry: screenshot filenames must end in .avif
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

Update sites.yml to reflect new Passlock monorepo
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

bump deps and pre-commit hooks
  .pre-commit-config.yaml
  site/package.json
Due: no-repeated-whitespace

change "Auth starter app" url to https://passlock.dev for better screenshot
  site/src/sites.yml
  site/static/screenshots/auth-starter-app.avif
  site/static/screenshots/auth-starter-app.small.avif
  site/static/screenshots/passkey-authentication-starter.avif
  site/static/screenshots/passkey-authentication-starter.small.avif
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

update readme
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update sites.yml to reflect new Passlock monorepo (#128)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/auth-starter-app.avif
  site/static/screenshots/auth-starter-app.small.avif
  site/static/screenshots/passkey-authentication-starter.avif
  site/static/screenshots/passkey-authentication-starter.small.avif
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Added macOS-Themed-Portfolio
  sites.yml
  tools.yml
Due: no-http, no-repeated-whitespace, format-urls

update readme, add screenshots
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/static/screenshots/macos-themed-portfolio.avif
  site/static/screenshots/macos-themed-portfolio.small.avif
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add macosportfolio.netlify.app (#132)
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/static/screenshots/macos-themed-portfolio.avif
  site/static/screenshots/macos-themed-portfolio.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update linting and fix dead links
  .github/workflows/test.yml
  .pre-commit-config.yaml
  readme.md
  site/eslint.config.js
  site/package.json
  site/src/lib/Filters.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/index.ts
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/static/screenshots/scientific-diagrams.avif
  site/static/screenshots/scientific-diagrams.small.avif
  site/static/screenshots/tikz.avif
  site/static/screenshots/tikz.small.avif
  site/vite.config.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add vert.sh
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add coolify, ffmpeg and libvips to tools.yml
  tools.yml
Due: no-http, no-repeated-whitespace

Rename tool "WebAssembly" to "WASM" on vert.sh
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add images, repo stars, and more tags
  site/static/screenshots/vert.avif
  site/static/screenshots/vert.small.avif
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

site/src/sites.yml auto-fetch GH metadata for https://github.com/VERT-sh/VERT
  readme.md
  site/src/sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add vert.sh (#134)
  readme.md
  site/src/sites.yml
  site/static/screenshots/vert.avif
  site/static/screenshots/vert.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

migrate to Svelte 5
  .pre-commit-config.yaml
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: no-repeated-whitespace

npm-test.yml add install-e2e: npx playwright install chromium
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
Due: no-http, no-repeated-whitespace

fix build
  site/src/routes/[slug]/+page.server.ts
Due: none

fix playwright tests
  site/src/routes/[slug]/+page.server.ts
  site/tests/site.test.ts
Due: none

2 new in site/tests/site.test.ts
  site/tests/site.test.ts
Due: none

Migrate to Svelte 5 (#135)
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/tests/site.test.ts
Due: no-http, no-repeated-whitespace

Add https://pixelui.dev
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

updated graphcms to match their current brand name 'hygraph'
  site/src/sites.yml
  sites.yml
  tools.yml
Due: no-http, no-repeated-whitespace, format-urls

update site Elementari, now named MatterViz
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
  site/src/routes/+error.svelte
  site/src/sites.yml
  site/static/screenshots/matterviz.avif
  site/static/screenshots/matterviz.small.avif
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Updated GraphCMS Url to match the current brand name 'hygraph' (#139)
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
  site/src/routes/+error.svelte
  site/src/sites.yml
  site/static/screenshots/matterviz.avif
  site/static/screenshots/matterviz.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

swap node for deno
  .github/workflows/gh-pages.yml
  .github/workflows/link-check-config.json
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/.prettierrc.yml
  site/deno.jsonc
  site/package.json
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/lib/stores.ts
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/hygraph-starter-blog.avif
  site/static/screenshots/hygraph-starter-blog.small.avif
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Swap `node` for `deno` (#140)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check-config.json
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/.prettierrc.yml
  site/deno.jsonc
  site/package.json
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/lib/stores.ts
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/hygraph-starter-blog.avif
  site/static/screenshots/hygraph-starter-blog.small.avif
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Swap `node` for `deno` (#140)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check-config.json
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  readme.md
  site/.env.example
  site/.prettierrc.yml
  site/deno.jsonc
  site/package.json
  site/playwright.config.ts
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/lib/stores.ts
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/hygraph-starter-blog.avif
  site/static/screenshots/hygraph-starter-blog.small.avif
  site/tests/site.test.ts
  site/vite.config.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Swap `node` for `deno` (#140)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check-config.json
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  readme.md
  site/.env.example
  site/.prettierrc.yml
  site/deno.jsonc
  site/package.json
  site/playwright.config.ts
  site/src/app.css
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/lib/stores.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/hygraph-starter-blog.avif
  site/static/screenshots/hygraph-starter-blog.small.avif
  site/tests/site.test.ts
  site/vite.config.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update sites.yml - added starter template repo
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

update https://ollamahub.com -> https://docs.openwebui.com
  .pre-commit-config.yaml
  readme.md
  site/eslint.config.js
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/ToggleGroup.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/ollama-web-ui.avif
  site/static/screenshots/ollama-web-ui.small.avif
  site/static/screenshots/open-webui.avif
  site/static/screenshots/open-webui.small.avif
  site/tsconfig.json
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  avif-screenshots: any of: ^site/static/screenshots/.*(?<!\.avif)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: \.(ts|mts|cts)$
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$
