Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

Update sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

refactor scripts to task functions for cleaner imports and simple passing of arguments
  site/src/scripts/fetch-github-metadata.ts
  site/src/scripts/index.ts
  site/src/scripts/screenshots.ts
  site/src/scripts/update-readme.ts
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/vite.config.ts
Due: no-repeated-whitespace

add site https://what-to-watch-roan.vercel.app
  readme.md
  site/src/sites.yml
  site/static/screenshots/watch-this.avif
  site/static/screenshots/watch-this.small.avif
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

update existing GH metadata
  readme.md
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps
  .pre-commit-config.yaml
  site/package.json
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

drop const base_url = process.env.PLAYWRIGHT_TEST_BASE_URL from tests
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/tests/site.test.ts
Due: no-repeated-whitespace

don't run fetch_github_metadata() in CI
  .github/workflows/gh-pages.yml
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Added 2 projects - a personal blog on engineering management and an Agile Team healh check applicaiton, both using Svelte and SvelteKit.
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Updated description
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Updated to include only the Team Health Check Project based on feedback
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add tool links, screenshots, tweak tags and desc
  readme.md
  site/src/sites.yml
  site/static/screenshots/team-health-check.avif
  site/static/screenshots/team-health-check.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add significa.co 🥚
  sites.yml
  tools.yml
Due: no-http, no-repeated-whitespace, format-urls

update readme and add screenshots
  readme.md
  site/src/sites.yml
  site/static/screenshots/significa.co.avif
  site/static/screenshots/significa.co.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update readme.md
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add svelte integration with tailwind elements
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add svelte integration
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

migrate from eslint-plugin-svelte3 to eslint-plugin-svelte
  .github/workflows/new-site.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/.eslintrc.yml
  site/package.json
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+layout.svelte
  site/src/routes/[slug]/+page.svelte
Due: no-http, no-repeated-whitespace

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$, but not: pnpm-lock.yaml
  no-bracket-links: any of: \.(md|markdown|mdown)$, but not: pnpm-lock.yaml
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and not (pnpm-lock.yaml)
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: pnpm-lock.yaml
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$, but not: pnpm-lock.yaml
