Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-trailing-slash, no-http

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-trailing-slash:
  name: URLs should not have trailing slashes
  entry: https?:\/\/.+\/(\s|\?)
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

add site 37
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

add site 37 to yaml
  sites.yml
Due: no-trailing-slash, no-http

fix pre-commit.ci trailing slash error
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Adds site 37 https://www.connorrothschild.com/ (#41)
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add format_urls.py local pre-commit hook to auto remove www. and trailing slashes in urls
  .github/workflows/linkCheck.yml
  .pre-commit-config.yaml
  site/src/components/Filters.svelte
  sites.yml
  utils/.yamllint.yml
  utils/format_urls.py
  utils/markdown_link_check_config.json
Due: no-trailing-slash, no-http

fix Filters.svelte search input
  .pre-commit-config.yaml
  site/src/components/Filters.svelte
  site/src/routes/index.svelte
  site/static/screenshots/connorrothschild.com.webp
  utils/format_urls.py
Due: no-trailing-slash

update urara screenshot
  site/static/screenshots/urara.webp
Due: none

add site 38 http://svelte-cubed.vercel.app
  readme.md
  site/static/screenshots/svelte-cubed.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

fix: "kudadam.com" source code link
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

fix: "kudadam.com" repository link
  sites.yml
Due: no-trailing-slash, no-http

Fix kudadam.com repo URLs (#43)
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

update to svelte-multiselect@2.0.0
  .pre-commit-config.yaml
  site/package.json
  site/scripts/parseSitesYaml.js
  site/scripts/takeScreenshots.js
  site/src/components/Filters.svelte
  site/src/stores.ts
  site/src/types.ts
  site/yarn.lock
  sites.yml
Due: no-trailing-slash, no-http

fix takeScrenshot.js uncaught TimeoutError in 2nd try page.goto(site.url, { waitUntil: `load` })
  site/scripts/takeScreenshots.js
  site/static/screenshots/afara.webp
  site/static/screenshots/beatbump.webp
  site/static/screenshots/brittneypostma.com.webp
  site/static/screenshots/connorrothschild.com.webp
  site/static/screenshots/cybernetic.dev.webp
  site/static/screenshots/flayks.webp
  site/static/screenshots/graphcms-starter-blog.webp
  site/static/screenshots/level-up-tutorials.webp
  site/static/screenshots/markushatvan.com.webp
  site/static/screenshots/nytimes-tracking-the-coronavirus.webp
  site/static/screenshots/puruvj.dev.webp
  site/static/screenshots/svelte.dev.webp
  site/static/screenshots/urara.webp
Due: none

update swyxdotio to swyxkit
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Update sites.yml
  sites.yml
Due: no-trailing-slash, no-http

add multi-monitor_calculator entry
  sites.yml
Due: no-trailing-slash, no-http

add multi-monitor_calculator entry
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

prettier remove whitespace
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

update swyxdotio to swyxkit (#44)
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

fix casing
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

add multi-monitor_calculator entry (#45)
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

run screenshots.yml workflow on push + PR
  .github/workflows/screenshots.yml
  readme.md
  site/static/screenshots/multi-monitor-calculator.webp
  site/static/screenshots/swyxkit.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

[pre-commit.ci] pre-commit autoupdate
  .pre-commit-config.yaml
Due: no-trailing-slash

add site 40 https://modern-fluid-typography.vercel.app
  .github/workflows/screenshots.yml
  readme.md
  site/.eslintrc.yml
  site/scripts/index.js
  site/static/screenshots/modern-fluid-typography-editor.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

added target _blank to a tag
  site/src/components/SiteDetails.svelte
Due: none

yarn add -D svelte-github-corner
  netlify.toml
  site/package.json
  site/src/components/GitHubCorner.svelte
  site/src/routes/index.svelte
  site/yarn.lock
Due: none

use target _blank links on desktop (followup #48)
  site/src/routes/__layout.svelte
Due: none

move dateAdded info from readme to sites.yml
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

sites.yml split some tags into uses + tags, update deps
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/screenshots.yml
  readme.md
  site/package.json
  site/src/components/SiteDetails.svelte
  site/src/types.ts
  site/yarn.lock
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-trailing-slash: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
