Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: avif-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

avif-screenshots:
  name: Screenshots must use AVIF format
  entry: screenshot filenames must end in .avif
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

Sync filter state to URL params and restyle detail page metadata
  .pre-commit-config.yaml
  site/package.json
  site/src/lib/Filters.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+page.svelte
  site/static/screenshots/openpost.avif
  site/static/screenshots/openpost.small.avif
  site/tests/site.test.ts
Due: no-repeated-whitespace

Fix svelte-check CI by reverting to TypeScript 6
  .pre-commit-config.yaml
  site/package.json
Due: no-repeated-whitespace

Dismiss tag dropdown before clicking sort buttons in e2e test
  site/src/lib/state.svelte.ts
  site/src/routes/+page.svelte
  site/tests/site.test.ts
  tools.yml
Due: no-http, no-repeated-whitespace

Link stars badge at repo instead of GitHub's gated /stargazers page
  .github/workflows/link-check.yml
  readme.md
  site/src/lib/SiteDetails.svelte
  site/src/tasks/update-readme.ts
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Derive URL params from a single table in filters_to_query
  site/src/lib/state.svelte.ts
  site/tests/site.test.ts
Due: none

Simplify landing page tag and contributor derivation
  site/src/routes/+page.svelte
Due: no-repeated-whitespace

Add OpenPost (#158)
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/lib/Filters.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/src/tasks/update-readme.ts
  site/static/screenshots/openpost.avif
  site/static/screenshots/openpost.small.avif
  site/tests/site.test.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

chore: update OpenPost repository URL
  readme.md
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix: sync generated OpenPost badge URL
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

chore: refresh site dependencies
  .github/workflows/site-assets.yml
  site/package.json
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

chore: refresh site catalog metadata
  .github/workflows/link-check.yml
  readme.md
  site/src/site-metadata.yml
  site/static/screenshots/digital-criticism.avif
  site/static/screenshots/digital-criticism.small.avif
  site/static/screenshots/inlang.avif
  site/static/screenshots/inlang.small.avif
  site/static/screenshots/modern-fluid-typography-editor.avif
  site/static/screenshots/modern-fluid-typography-editor.small.avif
  site/static/screenshots/swyxkit.avif
  site/static/screenshots/swyxkit.small.avif
  site/static/screenshots/watch-this.avif
  site/static/screenshots/watch-this.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix: make CI checks reproducible
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
Due: no-http, no-repeated-whitespace

ci: ignore runner-specific link timeouts
  .github/workflows/link-check.yml
Due: no-http, no-repeated-whitespace

ci: tolerate transient link timeouts
  .github/workflows/link-check.yml
Due: no-http, no-repeated-whitespace

chore: refresh dependencies, URLs, and site catalog (#159)
  .github/workflows/link-check.yml
  .github/workflows/site-assets.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/site-metadata.yml
  site/static/screenshots/digital-criticism.avif
  site/static/screenshots/digital-criticism.small.avif
  site/static/screenshots/inlang.avif
  site/static/screenshots/inlang.small.avif
  site/static/screenshots/modern-fluid-typography-editor.avif
  site/static/screenshots/modern-fluid-typography-editor.small.avif
  site/static/screenshots/swyxkit.avif
  site/static/screenshots/swyxkit.small.avif
  site/static/screenshots/watch-this.avif
  site/static/screenshots/watch-this.small.avif
  site/vite.config.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Added SVAR Svelte Core
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Replace pygrep hooks with prek deny-pattern.
  .pre-commit-config.yaml
Due: no-repeated-whitespace

Complete the SVAR Svelte Core listing.
  readme.md
  site/src/site-metadata.yml
  site/static/screenshots/svar-svelte-core.avif
  site/static/screenshots/svar-svelte-core.small.avif
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add copy buttons for repo and npm URLs on site pages.
  site/package.json
  site/src/lib/SiteDetails.svelte
  site/tests/site.test.ts
Due: no-repeated-whitespace

Drop the dead Evidence example-project link.
  readme.md
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Added SVAR Svelte Core (#160)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/lib/SiteDetails.svelte
  site/src/site-metadata.yml
  site/static/screenshots/svar-svelte-core.avif
  site/static/screenshots/svar-svelte-core.small.avif
  site/tests/site.test.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix: update OpenPost website domain
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

chore: regenerate site listing
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Consolidate site config and CI
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  readme.md
  site/svelte.config.ts
  site/tsconfig.json
  site/vite.config.ts
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

CI: run vp check and svelte-check explicitly since vp staged is a no-op on --all-files
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

Simplify: inline kit config into sveltekit() call; replace deprecated js-yaml sortKeys
  .github/workflows/ci.yml
  site/src/tasks/fetch-github-metadata.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Use toSorted and hoist sort_keys to module scope (fixes unicorn/no-array-sort)
  site/src/tasks/fetch-github-metadata.ts
Due: none

CI: run svelte-kit sync before vp check so the extended tsconfig exists
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

CI: keep job names prek/tests to match required status checks in branch protection
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

Update OpenPost domain, consolidate site config and CI (#161)
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SitePreview.svelte
  site/src/routes/+layout.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/svelte.config.ts
  site/tests/site.test.ts
  site/tsconfig.json
  site/vite.config.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add MonoMap to sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Migrate to SvelteKit 3, vite-plus 1.0 and svelte-widgets main
  .github/workflows/ci.yml
  site/package.json
  site/playwright.config.ts
  site/src/app.d.ts
  site/src/env.ts
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/tests/site.test.ts
  site/tsconfig.json
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Parse YAML with CORE_SCHEMA so dates stay strings; omit undefined descriptions
  site/src/tasks/enrich-sites.ts
  site/tests/unit/enrich-sites.test.ts
Due: none

Unit-test that dev-start site tasks are skipped under VITEST
  site/tests/unit/vite-config.test.ts
Due: none

Fix CI install for svelte-widgets git dep; update OpenPost source link
  .github/workflows/ci.yml
  readme.md
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

CI: allow all install scripts so the svelte-widgets git dep gets built
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

CI: rename install-e2e to e2e-install-cmd for janosh/workflows (temporarily pinned to the PR branch for validation)
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

CI: point janosh/workflows back at main now that #9 is merged
  .github/workflows/ci.yml
Due: no-http, no-repeated-whitespace

Migrate to SvelteKit 3 and vite-plus 1.0, fix keyboard navigation (#163)
  .github/workflows/ci.yml
  readme.md
  site/package.json
  site/playwright.config.ts
  site/src/app.d.ts
  site/src/env.ts
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/enrich-sites.ts
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/tests/site.test.ts
  site/tests/unit/enrich-sites.test.ts
  site/tests/unit/vite-config.test.ts
  site/tsconfig.json
  site/vite.config.ts
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  avif-screenshots: any of: ^site/static/screenshots/.*(?<!\.avif)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: \.(ts|mts|cts)$
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$
