Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: avif-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

avif-screenshots:
  name: Screenshots must use AVIF format
  entry: screenshot filenames must end in .avif
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

update https://ollamahub.com -> https://docs.openwebui.com
  .pre-commit-config.yaml
  readme.md
  site/eslint.config.js
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/ToggleGroup.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/static/screenshots/ollama-web-ui.avif
  site/static/screenshots/ollama-web-ui.small.avif
  site/static/screenshots/open-webui.avif
  site/static/screenshots/open-webui.small.avif
  site/tsconfig.json
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Statue static site generator entry to sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add MahmoodKhalil57/sveltekit-auto-openapi project details
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

update deps, broken links, replace site sort dropdown with toggle
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/lib/Filters.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+page.svelte
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Statue site with metadata and screenshots
  readme.md
  site/src/sites.yml
  site/static/screenshots/statue.avif
  site/static/screenshots/statue.small.avif
  site/static/screenshots/sveltekit-experiments.avif
  site/static/screenshots/sveltekit-experiments.small.avif
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add GitHub Actions lint workflow
  .github/workflows/lint.yml
  tools.yml
Due: no-http, no-repeated-whitespace

Fix broken svelte-intl-precompile URL and cleanup
  readme.md
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Statue static site generator entry to sites.yml (#144)
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  readme.md
  site/src/sites.yml
  site/static/screenshots/statue.avif
  site/static/screenshots/statue.small.avif
  site/static/screenshots/sveltekit-experiments.avif
  site/static/screenshots/sveltekit-experiments.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add Saga Reader https://aiqino.netlify.app
  .github/workflows/link-check.yml
  readme.md
  site/src/sites.yml
  site/static/screenshots/saga-reader.avif
  site/static/screenshots/saga-reader.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add SvelteShip - SaaS starter template
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Migrate from Deno/ESLint to Vite+ unified toolchain
  .pre-commit-config.yaml
  site/deno.jsonc
  site/eslint.config.js
  site/package.json
  site/playwright.config.ts
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/ToggleGroup.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/svelte.config.js
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-repeated-whitespace

Update CI workflows from Deno to Node.js/pnpm
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  site/package.json
Due: no-http, no-repeated-whitespace

Migrate from Deno/ESLint to Vite+ unified toolchain (#148)
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/deno.jsonc
  site/eslint.config.js
  site/package.json
  site/playwright.config.ts
  site/src/app.html
  site/src/lib/Filters.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/ToggleGroup.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/svelte.config.js
  site/svelte.config.ts
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Add Classic Klondike Solitaire entry to sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

feat: add guardian-agent-prompts to list
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add RemoteOpenClaw to Sites list
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Remove Coolify project information from README
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

remove 13 archived, abandoned, or very stale sites
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add missing lint rules from svelte-multiselect and matbench-discovery
  site/vite.config.ts
Due: none

finish Coolify removal
  site/src/sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

merge vp-fmt + vp-lint pre-commit hooks into single vp check
  .pre-commit-config.yaml
Due: no-repeated-whitespace

fix bugs, remove svelte-preprocess, add missing scripts
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Person.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/index.ts
  site/svelte.config.ts
Due: no-repeated-whitespace

Remove Coolify project information from README (#153)
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/lib/ContributorList.svelte
  site/src/lib/Person.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/routes/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/src/tasks/index.ts
  site/svelte.config.ts
  site/vite.config.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Remove Coolify project information from README (#153)
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/app.css
  site/src/lib/ContributorList.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/index.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/svelte.config.ts
  site/tests/site.test.ts
  site/vite.config.ts
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Adopt shared @janosh/vite-config lint config and migrate CI to pnpm
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  site/package.json
  site/src/app.d.ts
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Adopt shared @janosh/vite-config lint config and migrate CI to pnpm
  .github/format_urls.py
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/src/app.d.ts
  site/src/lib/Filters.svelte
  site/src/lib/Person.svelte
  site/src/lib/Screenshot.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/lib/SitePreview.svelte
  site/src/lib/ToggleGroup.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/index.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/vite.config.ts
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Product Plate
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Use env file for site tasks
  .github/workflows/site-assets.yml
  site/package.json
  site/src/routes/+page.server.ts
  site/src/tasks/index.ts
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Add Product Plate (#156)
  .github/workflows/site-assets.yml
  site/package.json
  site/src/routes/+page.server.ts
  site/src/tasks/index.ts
  site/vite.config.ts
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add OpenPost
  readme.md
  site/src/sites.yml
  site/static/screenshots/openpost.avif
  site/static/screenshots/openpost.small.avif
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  avif-screenshots: any of: ^site/static/screenshots/.*(?<!\.avif)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: \.(ts|mts|cts)$
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$
