Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: avif-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: ^tools\.yml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [--config-file, .github/yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words-list, 'ons,linz']
        stages: [commit, commit-msg]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'
          - svelte-eslint-parser

  - repo: local
    hooks:
      - id: avif-screenshots
        name: Screenshots must use AVIF format
        entry: screenshot filenames must end in .avif
        language: fail
        files: '^site/static/screenshots/.*(?<!\.avif)$'

      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [javascript, ts]

      - id: format-urls
        name: Format URLs
        entry: .github/format_urls.py
        language: python
        files: ^(sites.yml|readme.md|.github/format_urls.py)$

Add https://tinylittlepaws.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/tiny-little-paws-dog-grooming.avif
  site/static/screenshots/tiny-little-paws-dog-grooming.small.avif
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

workflows/new-site.yml fix npm ERR! Missing script: "dev"
  .github/workflows/new-site.yml
Due: no-http, no-repeated-whitespace

add https://github.com/ollama-webui/ollama-webui
  readme.md
  site/src/sites.yml
  site/static/screenshots/ollama-web-ui.avif
  site/static/screenshots/ollama-web-ui.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update site/src/sites.yml
  readme.md
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add immich.app
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add site screenshots and tool links
  readme.md
  site/src/sites.yml
  site/static/screenshots/immich.avif
  site/static/screenshots/immich.small.avif
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Update tools.yml
  tools.yml
Due: no-http, no-repeated-whitespace

Add Svead head component
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add Svead to readme and make screenshots
  readme.md
  site/src/sites.yml
  site/static/screenshots/svead.avif
  site/static/screenshots/svead.small.avif
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update eslint commit hook and migrate to flat config
  .pre-commit-config.yaml
  site/.eslintrc.yml
  site/eslint.config.js
  site/package.json
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
Due: no-http, no-repeated-whitespace

skip eslint in ci
  .pre-commit-config.yaml
Due: no-repeated-whitespace

add screenshots, GH metadata and readme entry
  readme.md
  site/src/sites.yml
  site/static/screenshots/passkey-authentication-starter.avif
  site/static/screenshots/passkey-authentication-starter.small.avif
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add barnsworthburning
  sites.yml
  tools.yml
Due: no-http, no-repeated-whitespace, format-urls

Fix spacing
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add barnsworthburning to readme + fetch GH metadata
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/static/screenshots/barnsworthburning.avif
  site/static/screenshots/barnsworthburning.small.avif
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

downgrade eslint to v8 till typescript support
  site/package.json
Due: no-repeated-whitespace

Update screenshots for barnsworthburning
  site/static/screenshots/barnsworthburning.avif
  site/static/screenshots/barnsworthburning.small.avif
Due: no-repeated-whitespace

fix outdated module doc str
  site/src/tasks/screenshots.ts
  site/static/screenshots/barnsworthburning.avif
  site/static/screenshots/barnsworthburning.small.avif
Due: no-repeated-whitespace
