Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: ^uses-links\.yml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: [--config-file, utils/.yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [--ignore-words-list, ons]
        stages: [commit, commit-msg]
        exclude: yarn.lock

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.12.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(svelte|js|ts)$
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte3
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'

  - repo: local
    hooks:
      - id: webp-screenshots
        name: Screenshots must use WebP format
        entry: screenshot filenames must end in .webp
        language: fail
        files: '^site/static/screenshots/.*(?<!\.webp)$'

      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [javascript]

      - id: format-urls
        name: Format URLs
        entry: utils/format_urls.py
        language: python
        files: ^(sites.yml|readme.md|utils/format_urls.py)$

Add housesof.world website
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add screenshots and update readme with https://housesof.world
  readme.md
  site/package.json
  site/src/lib/Contributor.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/SiteList.svelte
  site/src/sites.yml
  site/static/screenshots/houses-of-world.small.webp
  site/static/screenshots/houses-of-world.webp
  site/tsconfig.json
  site/yarn.lock
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

[pre-commit.ci] pre-commit autoupdate (#80)
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/src/types.ts
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

respect site filters and sorting in PrevNextSite.svelte
  site/src/routes/+page.server.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.ts
  site/src/sites.yml
  site/src/stores.ts
  site/src/types.ts
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add site omnia-editor
  readme.md
  site/src/sites.yml
  site/static/screenshots/omnia-editor.small.webp
  site/static/screenshots/omnia-editor.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps
  site/package.json
  site/src/routes/+page.svelte
  site/yarn.lock
Due: no-repeated-whitespace

yarn to pnpm
  .github/workflows/new-site.yml
  .pre-commit-config.yaml
  netlify.toml
  site/package.json
  site/pnpm-lock.yaml
  site/src/routes/[slug]/+page.server.ts
  site/yarn.lock
Due: no-http, no-repeated-whitespace

add footer with PRs welcome msg on details pages
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/vite.config.ts
Due: no-repeated-whitespace

add https://github.com/Brain-Bones/skeleton
  readme.md
  site/src/sites.yml
  site/static/screenshots/skeleton.small.webp
  site/static/screenshots/skeleton.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://github.com/janosh/svelte-multiselect
  readme.md
  site/src/sites.yml
  site/static/screenshots/svelte-multiselect.small.webp
  site/static/screenshots/svelte-multiselect.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add Mission Patch website
  sites.yml
  uses-links.yml
Due: no-http, no-repeated-whitespace, format-urls

tweak open source requirement note
  readme.md
  site/src/routes/+page.svelte
  site/svelte.config.js
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://fireship.io
  readme.md
  site/src/sites.yml
  site/static/screenshots/fireship.small.webp
  site/static/screenshots/fireship.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps
  site/package.json
  site/pnpm-lock.yaml
Due: no-http, no-repeated-whitespace

deploy site to GH pages
  .github/workflows/gh-pages.yml
Due: no-http, no-repeated-whitespace

rm netlify.toml and replace netlify site links with GH pages url
  .gitignore
  readme.md
  site/package.json
  site/src/app.html
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update svelte-multiselect url and uses netlify->gh pages
  readme.md
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls
