Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

Add website
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Add Duplicate Word Finder
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

update deps
  site/package.json
Due: no-repeated-whitespace

enable arrow key navigation of detail pages
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: no-repeated-whitespace

playwright integration test for arrow key navigation
  site/package.json
  site/playwright.config.ts
  site/tests/site.test.ts
Due: no-repeated-whitespace

add .github/workflows/test.yml
  .github/workflows/test.yml
Due: no-http, no-repeated-whitespace

add readme badge for tests CI status
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix cwd in test.yml
  .github/workflows/test.yml
Due: no-http, no-repeated-whitespace

remove archived https://github.com/GeopJr/SveltePress
  readme.md
  site/src/sites.yml
  site/static/screenshots/sveltepress.small.webp
  site/static/screenshots/sveltepress.webp
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

mv site/src/lib/Contributor.svelte->Person.svelte
  site/src/lib/Person.svelte
  site/src/lib/SiteDetails.svelte
  site/src/lib/index.ts
Due: no-repeated-whitespace

add npm links in sites.yml for NPM packages, display them in SiteDetails
  site/src/lib/SiteDetails.svelte
  site/src/lib/index.ts
  site/src/sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

remove last_updated field from sites.yml
  site/src/sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add CmdPalette for keyboard-only site navigation
  site/package.json
  site/src/app.css
  site/src/routes/+layout.svelte
Due: no-repeated-whitespace

add svelte-legos
  readme.md
  site/src/sites.yml
  site/static/screenshots/svelte-legos.small.webp
  site/static/screenshots/svelte-legos.webp
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

convert all scripts to .ts and run them through vite
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  site/package.json
  site/src/lib/Screenshot.svelte
  site/src/scripts/fetch-github-metadata.ts
  site/src/scripts/index.ts
  site/src/scripts/screenshots.ts
  site/src/scripts/update-readme.ts
  site/tsconfig.json
  site/vite.config.ts
Due: no-http, no-repeated-whitespace

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$, but not: pnpm-lock.yaml
  no-bracket-links: any of: \.(md|markdown|mdown)$, but not: pnpm-lock.yaml
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and not (pnpm-lock.yaml)
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: pnpm-lock.yaml
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$, but not: pnpm-lock.yaml
