Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: ^uses-links\.yml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: [--config-file, utils/.yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [--ignore-words-list, ons]
        stages: [commit, commit-msg]
        exclude: yarn.lock

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.12.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(svelte|js|ts)$
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte3
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'

  - repo: local
    hooks:
      - id: webp-screenshots
        name: Screenshots must use WebP format
        entry: screenshot filenames must end in .webp
        language: fail
        files: '^site/static/screenshots/.*(?<!\.webp)$'

      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [javascript]

      - id: format-urls
        name: Format URLs
        entry: utils/format_urls.py
        language: python
        files: ^(sites.yml|readme.md|utils/format_urls.py)$

Add Quantu to sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

Kitcommerce repo added
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add more tags and uses to https://github.com/itswadesh/svelte-commerce
  readme.md
  site/src/sites.yml
  site/static/screenshots/kitcommerce.small.webp
  site/static/screenshots/kitcommerce.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

log offending href in case of missing tool URLs
  readme.md
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add site: https://github.com/kwchang0831/svelte-QWER
  readme.md
  site/src/sites.yml
  site/static/screenshots/qwer.small.webp
  site/static/screenshots/qwer.webp
  sites.yml
  uses-links.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update sites.yml
  site/src/sites.yml
Due: no-http, no-repeated-whitespace

Update readme.md
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Update uses-links.yml
  uses-links.yml
Due: no-http, no-repeated-whitespace

update patra screenshots
  site/static/screenshots/patra.small.webp
  site/static/screenshots/patra.webp
Due: no-repeated-whitespace

reset readme
  package-lock.json
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

remove lockfile
  package-lock.json
Due: no-repeated-whitespace

sort tags
  readme.md
  site/src/sites.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls
