Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-trailing-slash, no-http

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: [--config-file, dotfiles/.yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: yarn.lock

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(svelte|js)$
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte3
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'

  - repo: local
    hooks:
      - id: webp-screenshots
        name: Screenshots must use WebP format
        entry: screenshot filenames must end in .webp
        language: fail
        files: '^site/static/screenshots/.*(?<!\.webp)$'

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-trailing-slash
        name: URLs should not have trailing slashes
        entry: 'https?:\/\/.+\/(\s|\?)'
        language: pygrep
        types_or: [markdown, yaml]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]

Sitelist add fade:in fade:out transitions
  site/src/components/SiteList.svelte
Due: none

keep MultiSelect and corresp. RadioButtons on same line
  site/src/components/Filters.svelte
Due: none

display tag counts in MultiSelect dropdown
  site/src/components/Filters.svelte
  site/src/routes/index.svelte
Due: none

remove eslint hook args
  .pre-commit-config.yaml
Due: no-trailing-slash

Add site 46 https://concertmash.com
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

include .ts files in eslint pre-commit hook
  .pre-commit-config.yaml
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add ConcertMash screenshots
  site/src/sites.yml
  site/static/screenshots/concertmash.small.webp
  site/static/screenshots/concertmash.webp
  sites.yml
Due: no-trailing-slash, no-http

[pre-commit.ci] pre-commit autoupdate
  .pre-commit-config.yaml
Due: no-trailing-slash

pre-commit config set default_install_hook_types: [pre-commit, commit-msg]
  .pre-commit-config.yaml
Due: no-trailing-slash

import global CSS in __layout.svelte for HMR
  site/src/app.css
  site/src/app.html
  site/src/components/Filters.svelte
  site/src/routes/__layout.svelte
Due: none

rename scite/scripts to param case
  site/scripts/fetch-github-metadata.js
  site/scripts/index.js
  site/scripts/update-readme.js
Due: none

remove site IDs
  site/src/sites.yml
  sites.yml
Due: no-trailing-slash, no-http

add https://layercake.graphics
  readme.md
  site/src/sites.yml
  site/static/screenshots/layer-cake.small.webp
  site/static/screenshots/layer-cake.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add https://pancake-charts.surge.sh
  .pre-commit-config.yaml
  readme.md
  site/src/sites.yml
  site/static/screenshots/pancake.small.webp
  site/static/screenshots/pancake.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http
