Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

format-urls:
  name: Format URLs
  entry: .github/format_urls.py
  language: python

tweak PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: no-bracket-links, no-http, no-repeated-whitespace

revert pre-commit eslint additional deps
  .pre-commit-config.yaml
Due: no-repeated-whitespace

add svelte dep
  .pre-commit-config.yaml
  site/.eslintrc.yml
Due: no-http, no-repeated-whitespace

bump prettier to v3
  .pre-commit-config.yaml
  site/package.json
  site/src/app.html
  site/src/lib/stores.ts
  site/src/routes/+page.server.ts
  site/src/tasks/fetch-github-metadata.ts
  site/src/tasks/screenshots.ts
  site/src/tasks/update-readme.ts
  site/tests/site.test.ts
  site/vite.config.ts
Due: no-repeated-whitespace

add https://shadcn-svelte.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/shadcn-svelte.avif
  site/static/screenshots/shadcn-svelte.small.avif
  sites.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

sort sites in readme by descending number of GitHub stars
  readme.md
  site/src/tasks/update-readme.ts
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

define type RawSite
  site/src/lib/index.ts
  site/src/tasks/update-readme.ts
Due: no-repeated-whitespace

remove https://studenten-bilden-schueler.de
  readme.md
  site/src/sites.yml
  site/static/screenshots/studenten-bilden-schüler.avif
  site/static/screenshots/studenten-bilden-schüler.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add https://dotfyle.com
  sites.yml
  tools.yml
Due: no-http, no-repeated-whitespace, format-urls

update readme, add dotfyle.avif screenshot
  readme.md
  site/src/sites.yml
  site/static/screenshots/dotfyle.avif
  site/static/screenshots/dotfyle.small.avif
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix readme reversed sort order by GH stars
  site/src/tasks/update-readme.ts
Due: no-repeated-whitespace

update readme post sorting fix
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

fix https://svelte.dev site_src
  site/src/sites.yml
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

treat http status code 0 and 403 as alive in link check
  .github/workflows/link-check-config.json
Due: no-repeated-whitespace

update site deps
  readme.md
  site/package.json
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

Add tRPC-SvelteKit
  sites.yml
Due: no-http, no-repeated-whitespace, format-urls

add tRPC-SvelteKit screenshots and update readme
  readme.md
  site/package.json
  site/src/sites.yml
  site/static/screenshots/trpc-sveltekit.avif
  site/static/screenshots/trpc-sveltekit.small.avif
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

fetch current repo stars and most active contributors
  .github/workflows/new-site.yml
  site/src/sites.yml
  site/static/screenshots/chat-ui.avif
  site/static/screenshots/chat-ui.small.avif
  site/static/screenshots/coolify.avif
  site/static/screenshots/coolify.small.avif
  site/static/screenshots/evidence.avif
  site/static/screenshots/evidence.small.avif
Due: webp-screenshots, no-http, no-repeated-whitespace

resort readme items with new GH stars
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

update deps
  site/package.json
Due: no-repeated-whitespace

fix dead link to svelte site src
  readme.md
  site/src/sites.yml
  sites.yml
  tools.yml
Due: no-bracket-links, no-http, no-repeated-whitespace, format-urls

add https://asm-editor.specy.app
  readme.md
  site/src/sites.yml
  site/src/tasks/fetch-github-metadata.ts
  site/static/screenshots/asm-editor.avif
  site/static/screenshots/asm-editor.small.avif
  sites.yml
  tools.yml
Due: webp-screenshots, no-bracket-links, no-http, no-repeated-whitespace, format-urls

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$, but not: pnpm-lock.yaml
  no-bracket-links: any of: \.(md|markdown|mdown)$, but not: pnpm-lock.yaml
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$ and not (.pre-commit-config.yaml) and not (pnpm-lock.yaml)
  no-repeated-whitespace: any of: not (\.(js|mjs|cjs)$), but not: pnpm-lock.yaml
  format-urls: any of: ^(sites.yml|readme.md|.github/format_urls.py)$, but not: pnpm-lock.yaml
