Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-trailing-slash, no-http

webp-screenshots:
  name: Screenshots must use WebP format
  entry: screenshot filenames must end in .webp
  language: fail

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-trailing-slash:
  name: URLs should not have trailing slashes
  entry: https?:\/\/.+\/(\s|\?)
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

fix sveltekit breaking load fn change, make fallthrough explicit
  site/src/routes/[slug].json.ts
  site/src/routes/[slug].svelte
  sites.yml
Due: no-trailing-slash, no-http

add site/scripts/makeReadmeSiteList.js, apply resulting changes to readme
  .pre-commit-config.yaml
  readme.md
  site/scripts/makeReadmeSiteList.js
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

Auto-generate readme site list (#50)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/screenshots.yml
  .pre-commit-config.yaml
  netlify.toml
  readme.md
  site/package.json
  site/scripts/makeReadmeSiteList.js
  site/src/components/GitHubCorner.svelte
  site/src/components/SiteDetails.svelte
  site/src/routes/[slug].json.ts
  site/src/routes/[slug].svelte
  site/src/routes/__layout.svelte
  site/src/routes/index.svelte
  site/src/types.ts
  site/yarn.lock
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

Update sites.yml
  sites.yml
Due: no-trailing-slash, no-http

fix site filter selected tags binding
  .github/workflows/linkCheck.yml
  .github/workflows/screenshots.yml
  .pre-commit-config.yaml
  site/package.json
  site/src/components/Filters.svelte
  site/src/routes/[slug].json.ts
  site/src/routes/[slug].svelte
  site/src/routes/index.svelte
  site/yarn.lock
Due: no-trailing-slash, no-http

Changed my twitter username
  sites.yml
Due: no-trailing-slash, no-http

run makeReadmeSiteList.js in GHA
  .github/workflows/newSite.yml
  readme.md
  site/package.json
  site/scripts/index.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
  site/src/app.html
  site/static/global.css
  site/svelte.config.js
  site/yarn.lock
Due: no-bracket-links, no-trailing-slash, no-http

add site 41 https://mermaid.live
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

newSite.yml merge all jobs into 1
  .github/workflows/newSite.yml
Due: no-trailing-slash, no-http

newSite.yml fix pushing changes
  .github/workflows/newSite.yml
Due: no-trailing-slash, no-http

fix wrong save dir for compressed screenshots
  .github/workflows/newSite.yml
  .pre-commit-config.yaml
  site/scripts/screenshots.js
Due: no-trailing-slash, no-http

update readme + screenshots
  readme.md
  site/static/screenshots/mermaid-live-editor.small.webp
  site/static/screenshots/mermaid-live-editor.webp
Due: no-bracket-links, no-trailing-slash, no-http

Add site 41 https://mermaid.live (#54)
  .github/workflows/newSite.yml
  .pre-commit-config.yaml
  readme.md
  site/scripts/screenshots.js
  site/static/screenshots/mermaid-live-editor.small.webp
  site/static/screenshots/mermaid-live-editor.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add site 42 https://realworld.svelte.dev
  readme.md
  site/static/screenshots/svelte-realworld.small.webp
  site/static/screenshots/svelte-realworld.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

better readme formatting (bold site titles, more whitespace)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/newSite.yml
  readme.md
  site/scripts/index.js
  site/scripts/readmeSiteList.js
Due: no-bracket-links, no-trailing-slash, no-http

add site 43 https://macos-web.app
  readme.md
  site/scripts/screenshots.js
  site/static/screenshots/macos-web.small.webp
  site/static/screenshots/macos-web.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

fetch site contributors on-the-fly in site/scripts/parseSitesYaml.js
  .gitignore
  .pre-commit-config.yaml
  site/.env.example
  site/package.json
  site/scripts/parseSitesYaml.js
  site/src/components/Contributor.svelte
  site/src/components/SiteDetails.svelte
  site/src/types.ts
  site/yarn.lock
  sites.yml
Due: no-trailing-slash, no-http

write GH metadata to site/src/sites.yml (.js before) and don't gitignore to speed up CI builds
  .github/workflows/newSite.yml
  .gitignore
  site/package.json
  site/scripts/parseSitesYaml.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
  site/src/global.d.ts
  site/src/routes/[slug].svelte
  site/src/routes/[slug].ts
  site/src/routes/index.svelte
  site/src/sites.yml
  site/svelte.config.js
  site/yarn.lock
Due: no-trailing-slash, no-http

fix 'Failed to add secret. Secret names must not start with GITHUB_'
  site/.env.example
  site/scripts/parseSitesYaml.js
Due: none

fix build error on missing contributors
  site/scripts/parseSitesYaml.js
  site/src/components/SiteDetails.svelte
  site/src/sites.yml
Due: no-trailing-slash, no-http

fix contributor URLs not starting with https://
  site/scripts/parseSitesYaml.js
  site/src/sites.yml
Due: no-trailing-slash, no-http

Fetch repo contributors (just like start count) from GitHub (#55)
  .github/workflows/newSite.yml
  .gitignore
  .pre-commit-config.yaml
  site/.env.example
  site/package.json
  site/scripts/parseSitesYaml.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
  site/src/components/Contributor.svelte
  site/src/components/SiteDetails.svelte
  site/src/global.d.ts
  site/src/routes/[slug].svelte
  site/src/routes/[slug].ts
  site/src/routes/index.svelte
  site/src/sites.yml
  site/src/types.ts
  site/svelte.config.js
  site/yarn.lock
  sites.yml
Due: no-trailing-slash, no-http

Use the www subdomain for gitpod.io
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Add Japanese Learners Lite
  sites.yml
Due: no-trailing-slash, no-http

Add Sveltestrap
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Path conditions:
  webp-screenshots: any of: ^site/static/screenshots/.*(?<!\.webp)$
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-trailing-slash: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
