Repository janosh/awesome-sveltekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: webp-screenshots, no-bracket-links, no-trailing-slash, no-http

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        args: [--config, site/.prettierrc.yml, --write] # edit files in-place
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: [--config-file, dotfiles/.yamllint.yml]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: yarn.lock

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.3.0
    hooks:
      - id: eslint
        types: [file]
        files: \.(svelte|js)$
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte3
          - '@typescript-eslint/eslint-plugin'
          - '@typescript-eslint/parser'

  - repo: local
    hooks:
      - id: webp-screenshots
        name: Screenshots must use WebP format
        entry: screenshot filenames must end in .webp
        language: fail
        files: '^site/static/screenshots/.*(?<!\.webp)$'

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-trailing-slash
        name: URLs should not have trailing slashes
        entry: 'https?:\/\/.+\/(\s|\?)'
        language: pygrep
        types_or: [markdown, yaml]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]

Fix the typo
  sites.yml
Due: no-trailing-slash, no-http

Add jpl lite to the examples
  readme.md
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

try fix git checkout of forks in GHA newSite.yml workflow
  .github/workflows/newSite.yml
Due: no-trailing-slash, no-http

grant GITHUB_TOKEN permissions: pull-requests: write
  .github/workflows/newSite.yml
Due: no-trailing-slash, no-http

add inlang
  sites.yml
Due: no-trailing-slash, no-http

Create sites.yml
  sites.yml
Due: no-trailing-slash, no-http

Update sites.yml
  sites.yml
Due: no-trailing-slash, no-http

try checkout token secrets.GH_PAT for pushing to fork
  .github/workflows/newSite.yml
Due: no-trailing-slash, no-http

run node scripts/index.js
  readme.md
  site/src/sites.yml
  site/static/screenshots/inlang-dashboard.small.webp
  site/static/screenshots/inlang-dashboard.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add ibm carbon + supabase readme links
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

fix readme Tailwind reference link
  readme.md
  site/src/sites.yml
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

add 'open source' tag to all sites with a repo key
  readme.md
  site/scripts/parseSitesYaml.js
  site/scripts/screenshots.js
  site/src/sites.yml
  site/static/screenshots/impfdashboard.small.webp
  site/static/screenshots/impfdashboard.webp
  site/static/screenshots/mortimerbaltus.small.webp
  site/static/screenshots/mortimerbaltus.webp
  site/static/screenshots/nytimes-tracking-the-coronavirus.small.webp
  site/static/screenshots/nytimes-tracking-the-coronavirus.webp
  site/static/screenshots/svelte-themes.small.webp
  site/static/screenshots/svelte-themes.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

only add oss tag if not exist and only write site/sites.yml if some sites were not skipped
  site/scripts/parseSitesYaml.js
  site/src/routes/index.svelte
Due: none

:sparkles: Add UltiDex
  sites.yml
Due: no-trailing-slash, no-http

site/scripts/index.js forward process args to child processes
  site/scripts/index.js
  site/scripts/parseSitesYaml.js
  site/scripts/readmeSiteList.js
  site/scripts/screenshots.js
Due: none

don't run GHA workflows on forks, bump actions/checkout to v3
  .github/workflows/link-check.yml
  .github/workflows/new-site.yml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

update readme
  readme.md
  site/src/sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

update deps
  .github/workflows/new-site.yml
  site/package.json
  site/yarn.lock
Due: no-trailing-slash, no-http

address sveltekit breaking changes
  site/src/app.d.ts
  site/src/routes/[slug].ts
  site/svelte.config.js
  site/tsconfig.json
Due: none

add site 45 https://houdinigraphql.com
  readme.md
  site/src/sites.yml
  site/static/screenshots/houdini-graphql.small.webp
  site/static/screenshots/houdini-graphql.webp
  sites.yml
Due: no-bracket-links, no-trailing-slash, no-http

clean up input[type=search] and multiselect CSS
  site/src/components/Filters.svelte
  site/src/routes/index.svelte
  site/static/global.css
Due: none

matching placeholder color for multiselect and input[type=search]
  site/static/global.css
Due: none

lower case filter mode AND/OR -> and/or
  site/package.json
  site/src/components/Filters.svelte
  site/src/routes/index.svelte
  site/src/stores.ts
  site/yarn.lock
Due: none

change default tagFilterMode and -> or
  site/src/stores.ts
Due: none
